# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs & cache
logs/
*.log
*.cache
.vscode/
.DS_Store

# Build files
/build
/dist
.next
.out

# Backend-specific ignores
backend/node_modules/
backend/.env
backend/.cache

# Frontend-specific ignores
frontend/node_modules/
frontend/.env
frontend/build/
